In [70]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import linregress

In [71]:
workforce_ratio = pd.read_csv("Resources/Workforce_ratio_df.csv")
correl_table = pd.read_csv("Resources/correl_table.csv")
gini_index = pd.read_csv("Resources/Gini_Index_Data_Cleaned.csv")

In [72]:
correl_table.replace('Congo (Brazzaville)', 'Congo, Rep.', inplace=True)
correl_table.replace('Congo (Kinshasa)', 'Congo, Dem. Rep.', inplace=True)
workforce_ratio.replace('Venezuela, RB', 'Venezuela', inplace=True)
workforce_ratio.replace('Yemen, RB', 'Yemen', inplace=True)
workforce_ratio.replace('Egypt, Arab Rep.', 'Egypt', inplace=True)
workforce_ratio.replace('Gambia, The', 'Gambia', inplace=True)
workforce_ratio.replace('Iran, Islamic Rep.', 'Iran', inplace=True)
workforce_ratio.replace('Hong Kong SAR, China', 'Hong Kong S.A.R., China', inplace=True)
workforce_ratio.replace('Russian Federation', 'Russia', inplace=True)
workforce_ratio.replace('Korea, Rep.', 'South Korea', inplace=True)
workforce_ratio.replace('Syrian Arab Republic', 'Syria', inplace=True)
correl_table.replace('Swaziland', 'Eswatini', inplace=True)
workforce_ratio.replace('Yemen, Rep.', 'Yemen', inplace=True)

In [73]:
correl_table_complete = pd.merge(workforce_ratio, correl_table, how="outer", on=["Country"])

In [74]:
correl_table_complete = correl_table_complete[['Country', 'Workforce Ratio Five Year Average', 'Happy', 'Economy', 'Family', 'Health', 'Freedom', 'Trust', 'Generous']]

In [75]:
no_ratio = correl_table_complete[correl_table_complete['Workforce Ratio Five Year Average'].isnull()]
no_ratio

,Country,Workforce Ratio Five Year Average,Happy,Economy,Family,Health,Freedom,Trust,Generous
233,World Average,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
234,Hong Kong,NaN,5.448000,1.434935,1.123848,1.029513,0.510217,0.316428,0.324937
235,Ivory Coast,NaN,4.273200,0.546692,0.786338,0.111450,0.428399,0.131516,0.181253
236,Kosovo,NaN,5.606200,0.878283,1.014491,0.609754,0.317748,0.039870,0.283790
237,Kyrgyzstan,NaN,5.173400,0.542388,1.270746,0.615166,0.467967,0.037476,0.338840
238,Laos,NaN,4.792750,0.688770,0.837933,0.481000,0.572648,0.201180,0.337178
239,Macedonia,NaN,5.122000,0.990347,1.057893,0.679695,0.332789,0.059004,0.221355
240,North Cyprus,NaN,5.758667,1.288794,1.024881,0.866542,0.465811,0.154644,0.263919
241,Northern Cyprus,NaN,5.776500,1.246000,1.231500,0.975500,0.456000,0.158000,0.185000
242,Palestinian Territories,NaN,4.736600,0.656832,1.052303,0.613651,0.233628,0.093293,0.105445
243,Slovakia,NaN,6.108400,1.246007,1.379746,0.772485,0.307047,0.023198,0.136569
244,Somaliland Region,NaN,5.057000,0.255580,0.758620,0.331080,0.391300,0.367940,0.514790
245,Somaliland region,NaN,5.057000,0.188470,0.951520,0.438730,0.465820,0.399280,0.503180
246,Taiwan,NaN,6.391000,1.355317,1.217102,0.860487,0.372542,0.080647,0.225428
247,Taiwan Province of China,NaN,6.422000,1.433627,1.384565,0.793984,0.361467,0.063829,0.258360
248,Trinidad & Tobago,NaN,6.192000,1.227000,1.484500,0.638500,0.532000,0.017500,0.178000

In [76]:
no_happy = correl_table_complete[correl_table_complete['Happy'].isnull()]
no_happy

,Country,Workforce Ratio Five Year Average,Happy,Economy,Family,Health,Freedom,Trust,Generous
4,Arab World,31.202839,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,"Bahamas, The",83.503662,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Barbados,89.031182,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Brunei Darussalam,80.612656,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Cabo Verde,77.232017,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
224,Vanuatu,77.283397,NaN,NaN,NaN,NaN,NaN,NaN,NaN
227,Virgin Islands (U.S.),92.434781,NaN,NaN,NaN,NaN,NaN,NaN,NaN
228,West Bank and Gaza,25.146510,NaN,NaN,NaN,NaN,NaN,NaN,NaN
229,World,66.629291,NaN,NaN,NaN,NaN,NaN,NaN,NaN
233,World Average,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [77]:
no_happy[no_happy['Country'].str.contains("Arab")]

,Country,Workforce Ratio Five Year Average,Happy,Economy,Family,Health,Freedom,Trust,Generous
4,Arab World,31.202839,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [78]:
correl_table_complete = pd.merge(workforce_ratio, correl_table, how="inner", on=["Country"])
correl_table_complete = correl_table_complete[['Country', 'Workforce Ratio Five Year Average', 'Happy', 'Economy', 'Family', 'Health', 'Freedom', 'Trust', 'Generous']]

In [79]:
correl_table_complete.head()

,Country,Workforce Ratio Five Year Average,Happy,Economy,Family,Health,Freedom,Trust,Generous
0,Afghanistan,27.311836,3.51280,0.357113,0.409753,0.254707,0.117924,0.058094,0.267730
1,Albania,72.239452,4.71260,0.938633,0.754931,0.787696,0.371898,0.043201,0.167887
2,Algeria,21.980925,5.66760,1.012963,1.074205,0.665057,0.178437,0.146099,0.069219
3,Angola,96.300743,3.87225,0.798380,0.938368,0.133902,0.027432,0.071570,0.105269
4,Argentina,67.997396,6.45940,1.111035,1.330960,0.760895,0.481620,0.064308,0.092371

In [118]:
gini_index = gini_index[['Country', 'Gini Index Five Year Average']]
gini_index.replace("Cote d'Ivoir", 'Ivory Coast', inplace=True)
gini_index.replace("Egypt, Arab Rep.", 'Egypt', inplace=True)
gini_index.replace('Gambia, The', 'Gambia', inplace=True)
gini_index.replace('Iran, Islamic Rep.', 'Iran', inplace=True)
gini_index.replace('Russian Federation', 'Russia', inplace=True)

In [119]:
all_var_df = pd.merge(gini_index, correl_table_complete, how="outer", on=["Country"])

In [120]:
all_var_df.drop([109, 110, 111, 112, 113], inplace=True)

In [121]:
all_var_df

,Country,Gini Index Five Year Average,Workforce Ratio Five Year Average,Happy,Economy,Family,Health,Freedom,Trust,Generous
0,Albania,33.266667,72.239452,4.71260,0.938633,0.754931,0.787696,0.371898,0.043201,0.167887
1,Angola,51.300000,96.300743,3.87225,0.798380,0.938368,0.133902,0.027432,0.071570,0.105269
2,Argentina,41.533333,67.997396,6.45940,1.111035,1.330960,0.760895,0.481620,0.064308,0.092371
3,Armenia,33.225000,71.844352,4.39320,0.839133,0.890873,0.697851,0.216029,0.038767,0.082394
4,Austria,30.333333,82.749968,7.14200,1.398341,1.363963,0.883680,0.576929,0.214260,0.292400
...,...,...,...,...,...,...,...,...,...,...
165,Turkmenistan,NaN,65.860098,5.58220,1.047483,1.365800,0.518129,0.415890,0.183476,0.217677
166,United Arab Emirates,NaN,55.312159,6.74420,1.645227,1.069860,0.752196,0.538813,0.311982,0.267826
167,Uzbekistan,NaN,67.293723,6.04620,0.723758,1.434100,0.591725,0.655988,0.267424,0.327523
168,Venezuela,NaN,61.961743,5.53140,1.052468,1.323264,0.683741,0.213709,0.071444,0.057186
169,Yemen,NaN,8.588724,3.62580,0.489313,0.865448,0.365440,0.244175,0.067045,0.096929

In [122]:
no_gini = all_var_df[all_var_df['Gini Index Five Year Average'].isnull()]
no_gini

,Country,Gini Index Five Year Average,Workforce Ratio Five Year Average,Happy,Economy,Family,Health,Freedom,Trust,Generous
114,Afghanistan,NaN,27.311836,3.512800,0.357113,0.409753,0.254707,0.117924,0.058094,0.267730
115,Algeria,NaN,21.980925,5.667600,1.012963,1.074205,0.665057,0.178437,0.146099,0.069219
116,Australia,NaN,84.301043,7.276200,1.394885,1.409006,0.914529,0.605043,0.314573,0.416078
117,Azerbaijan,NaN,90.669648,5.229200,1.073644,1.031750,0.619653,0.380545,0.175756,0.049132
118,Bahrain,NaN,50.943657,6.113800,1.390482,1.243464,0.725251,0.519083,0.210752,0.203152
119,Belize,NaN,61.474317,5.956000,0.863712,0.956323,0.459961,0.550940,0.097764,0.219952
120,Bosnia and Herzegovina,NaN,61.414599,5.161800,0.921694,0.984433,0.761331,0.176793,0.001654,0.270967
121,Burkina Faso,NaN,77.687665,4.073800,0.314660,0.935740,0.266813,0.324000,0.122996,0.212773
122,Burundi,NaN,103.525898,3.079000,0.062447,0.470817,0.211608,0.101320,0.106992,0.185921
123,Cambodia,NaN,85.949744,4.205400,0.548237,0.876220,0.511973,0.637871,0.069699,0.336181
124,Cameroon,NaN,87.503677,4.695800,0.519155,0.852022,0.201378,0.437168,0.050085,0.207856
125,Central African Republic,NaN,80.350084,3.134250,0.032125,0.000000,0.050191,0.322408,0.053114,0.243057
126,Chad,NaN,82.076973,4.003400,0.382017,0.803851,0.094895,0.177684,0.058758,0.193129
127,Comoros,NaN,72.463191,3.961667,0.262717,0.717653,0.389320,0.175097,0.153790,0.210703
128,"Congo, Dem. Rep.",NaN,91.576051,4.346400,0.062342,1.059597,0.207693,0.239806,0.060448,0.231675
129,"Congo, Rep.",NaN,94.298537,4.377400,0.722743,0.716587,0.346717,0.423013,0.092802,0.112300
130,Guatemala,NaN,46.391208,6.343800,0.806614,1.141467,0.615776,0.550286,0.081591,0.240092
131,Guinea,NaN,102.947526,3.853600,0.273374,0.637579,0.241702,0.352274,0.106306,0.248505
132,Haiti,NaN,84.942793,3.865600,0.322862,0.616216,0.335746,0.089268,0.126076,0.448331
133,"Hong Kong S.A.R., China",NaN,79.657563,5.472000,1.551675,1.262791,0.943062,0.490969,0.293934,0.374466
134,India,NaN,27.410287,4.297800,0.730714,0.588117,0.498926,0.461539,0.088473,0.223714
135,Iraq,NaN,17.051176,4.528400,1.043188,0.868111,0.544862,0.216423,0.113091,0.174149
136,Jamaica,NaN,81.958837,5.662000,0.855858,1.290792,0.689424,0.495939,0.036040,0.174314
137,Japan,NaN,72.394278,5.925800,1.337745,1.327000,0.979099,0.493477,0.164842,0.095573
138,Jordan,NaN,22.218880,5.179600,0.909744,1.129034,0.673620,0.407252,0.131941,0.133064
139,South Korea,NaN,71.712425,5.885400,1.314554,1.046191,0.948609,0.248936,0.065203,0.186097
140,Kuwait,NaN,57.106339,6.148600,1.555662,1.184644,0.695143,0.505998,0.182188,0.171844
141,Lebanon,NaN,31.824745,5.149600,1.035062,0.994895,0.787252,0.321791,0.055389,0.219984
142,Libya,NaN,52.233932,5.597000,1.065827,1.215989,0.594602,0.440227,0.121246,0.150979
143,Madagascar,NaN,93.517678,3.745400,0.265918,0.773236,0.434105,0.177375,0.062706,0.193293
144,Mali,NaN,75.751767,4.219000,0.360968,1.103613,0.199733,0.332925,0.094592,0.174795
145,Mauritania,NaN,45.382916,4.355000,0.568687,1.078906,0.342296,0.132044,0.134423,0.177546
146,Morocco,NaN,30.930339,5.172200,0.806697,0.676153,0.650592,0.391906,0.081453,0.041292
147,Mozambique,NaN,97.664453,4.601000,0.179846,0.946240,0.190241,0.461540,0.157867,0.236980
148,Nepal,NaN,96.695504,4.812400,0.431410,1.038953,0.557920,0.431649,0.073825,0.337131
149,New Zealand,NaN,85.446789,7.313000,1.317509,1.439729,0.891618,0.617782,0.400015,0.432805
150,Nicaragua,NaN,59.079909,6.027400,0.677278,1.193653,0.716673,0.486024,0.148356,0.257111
151,Niger,NaN,72.452275,4.104600,0.126605,0.802395,0.282839,0.385798,0.133545,0.199049
152,Oman,NaN,34.630319,6.853000,1.360110,1.081820,0.762760,0.632740,0.325240,0.215420
153,Puerto Rico,NaN,65.444762,7.039000,1.359430,1.081130,0.777580,0.468230,0.122750,0.222020
154,Qatar,NaN,60.855238,6.421800,1.743691,1.169707,0.768732,0.604064,0.355974,0.291217
155,Saudi Arabia,NaN,28.458862,6.376000,1.439513,1.181380,0.666214,0.417454,0.231550,0.123449
156,Senegal,NaN,60.396038,4.394000,0.433286,1.036208,0.450667,0.350840,0.098680,0.174786
157,Singapore,NaN,79.029368,6.542800,1.592138,1.231079,1.014186,0.553412,0.467256,0.303215
158,Somalia,NaN,29.268385,5.060250,0.005661,0.616820,0.152912,0.600727,0.286553,0.261220
159,South Africa,NaN,78.347674,4.675200,0.979870,1.258200,0.289814,0.428229,0.071300,0.125730
160,South Sudan,NaN,95.488983,3.382500,0.358547,0.492378,0.198324,0.116421,0.110986,0.242665
161,Sudan,NaN,42.076735,4.241750,0.604069,1.071832,0.317323,0.032951,0.104709,0.171927
162,Suriname,NaN,60.583323,6.269000,1.046100,0.875330,0.558765,0.559455,0.131625,0.168280
163,Syria,NaN,19.445920,3.292200,0.699109,0.355931,0.566281,0.081700,0.159547,0.431285
164,Trinidad and Tobago,NaN,70.811289,6.168000,1.299635,1.183153,0.553631,0.520667,0.010925,0.321029
165,Turkmenistan,NaN,65.860098,5.582200,1.047483,1.365800,0.518129,0.415890,0.183476,0.217677
166,United Arab Emirates,NaN,55.312159,6.744200,1.645227,1.069860,0.752196,0.538813,0.311982,0.267826
167,Uzbekistan,NaN,67.293723,6.046200,0.723758,1.434100,0.591725,0.655988,0.267424,0.327523
168,Venezuela,NaN,61.961743,5.531400,1.052468,1.323264,0.683741,0.213709,0.071444,0.057186
169,Yemen,NaN,8.588724,3.625800,0.489313,0.865448,0.365440,0.244175,0.067045,0.096929

In [123]:
no_happy_2 = all_var_df[all_var_df['Happy'].isnull()]
no_happy_2

,Country,Gini Index Five Year Average,Workforce Ratio Five Year Average,Happy,Economy,Family,Health,Freedom,Trust,Generous
14,Cabo Verde,42.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Ivory Coast,41.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,Kosovo,27.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,Kyrgyz Republic,27.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,Maldives,31.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,Sao Tome and Principe,56.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,Slovak Republic,25.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,St. Lucia,51.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,Tonga,37.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,West Bank and Gaza,33.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [149]:
correl_table[correl_table['Country'].str.contains("Cabo")]

Empty DataFrame
Columns: [Country, Happy, Economy, Family, Health, Freedom, Trust, Generous]
Index: []

In [153]:
all_var_avg = pd.merge(gini_index, correl_table_complete, how="inner", on=["Country"])
all_var_avg

,Country,Gini Index Five Year Average,Workforce Ratio Five Year Average,Happy,Economy,Family,Health,Freedom,Trust,Generous
0,Albania,33.266667,72.239452,4.71260,0.938633,0.754931,0.787696,0.371898,0.043201,0.167887
1,Angola,51.300000,96.300743,3.87225,0.798380,0.938368,0.133902,0.027432,0.071570,0.105269
2,Argentina,41.533333,67.997396,6.45940,1.111035,1.330960,0.760895,0.481620,0.064308,0.092371
3,Armenia,33.225000,71.844352,4.39320,0.839133,0.890873,0.697851,0.216029,0.038767,0.082394
4,Austria,30.333333,82.749968,7.14200,1.398341,1.363963,0.883680,0.576929,0.214260,0.292400
...,...,...,...,...,...,...,...,...,...,...
94,United States,41.100000,82.045499,6.99880,1.455946,1.328570,0.821615,0.506882,0.140844,0.355080
95,Uruguay,39.750000,75.257850,6.43120,1.135558,1.315312,0.782929,0.574978,0.188516,0.169011
96,Vietnam,35.500000,88.183501,5.15460,0.723416,1.138384,0.722700,0.577207,0.091921,0.195664
97,Zambia,57.100000,88.284661,4.58440,0.571761,0.932381,0.302761,0.462099,0.097337,0.218430
98,Zimbabwe,44.300000,87.475831,4.00660,0.344051,1.007727,0.274403,0.323257,0.089997,0.169409

In [155]:
all_var_avg.to_csv(r'Resources/all_variables_avg.csv')