In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import linregress

In [2]:
# Read in data csv files for Gini Index, Workforce Ratio and the Happiness Data 5 year averages
workforce_ratio = pd.read_csv("Resources/Workforce_ratio_df.csv")
correl_table = pd.read_csv("Resources/updated_happy_data_averages.csv")
gini_index = pd.read_csv("Resources/Gini_Index_Data_Cleaned.csv")

In [3]:
# Using the results from below I changed country names before the merge where they differed between dataframes 
# (happiness data and workforce ratio) so data is not lost due to differential naming
correl_table.replace('Congo (Brazzaville)', 'Congo, Rep.', inplace=True)
correl_table.replace('Congo (Kinshasa)', 'Congo, Dem. Rep.', inplace=True)
workforce_ratio.replace('Venezuela, RB', 'Venezuela', inplace=True)
workforce_ratio.replace('Yemen, RB', 'Yemen', inplace=True)
workforce_ratio.replace('Egypt, Arab Rep.', 'Egypt', inplace=True)
workforce_ratio.replace('Gambia, The', 'Gambia', inplace=True)
workforce_ratio.replace('Iran, Islamic Rep.', 'Iran', inplace=True)
workforce_ratio.replace('Hong Kong SAR, China', 'Hong Kong S.A.R., China', inplace=True)
workforce_ratio.replace('Russian Federation', 'Russia', inplace=True)
workforce_ratio.replace('Korea, Rep.', 'South Korea', inplace=True)
workforce_ratio.replace('Syrian Arab Republic', 'Syria', inplace=True)
correl_table.replace('Swaziland', 'Eswatini', inplace=True)
workforce_ratio.replace('Yemen, Rep.', 'Yemen', inplace=True)

In [4]:
# Merge of happiness data and workforce ratio data on "Country", used outer to keep unmatched columns for later matching
correl_table_complete = pd.merge(workforce_ratio, correl_table, how="outer", on=["Country"])

In [5]:
# Eliminate unneeded columns
correl_table_complete = correl_table_complete[['Country', 'Workforce Ratio Five Year Average', 'Happy', 'Economy', 'Family', 'Health', 'Freedom', 'Trust', 'Generous']]

In [6]:
# Find null values in workforce data
no_ratio = correl_table_complete[correl_table_complete['Workforce Ratio Five Year Average'].isnull()]
no_ratio

,Country,Workforce Ratio Five Year Average,Happy,Economy,Family,Health,Freedom,Trust,Generous
233,World Average,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
234,Hong Kong S.A.R. of China,NaN,5.51040,10.934671,0.845969,76.771706,0.779834,0.420607,0.134980
235,Ivory Coast,NaN,5.23330,8.225561,0.658049,49.503773,0.727909,0.790772,-0.043991
236,Kosovo,NaN,6.32520,9.204430,0.820727,63.885555,0.861536,0.922328,0.190934
237,Kyrgyzstan,NaN,5.54150,8.148405,0.887228,64.106010,0.909375,0.888396,0.154772
238,Laos,NaN,4.88860,8.798580,0.737502,58.709923,0.907214,0.634679,0.111371
239,Macedonia,NaN,5.15980,9.510592,0.820392,67.504425,0.738841,0.897491,-0.019877
240,North Cyprus,NaN,5.53550,10.405703,0.820357,73.702225,0.795294,0.626116,0.000227
241,Palestinian Territories,NaN,4.55280,8.389223,0.825296,62.250000,0.645792,0.824200,-0.162079
242,Slovakia,NaN,6.28060,10.347750,0.922494,68.906342,0.749953,0.918096,-0.124409
243,Taiwan Province of China,NaN,6.45540,10.775685,0.894309,69.599998,0.771530,0.731883,-0.073199
244,Grand Total,NaN,5.47324,9.295706,0.808721,64.445529,0.783360,0.733120,-0.014568

In [7]:
# Find null values in happiness data
no_happy = correl_table_complete[correl_table_complete['Happy'].isnull()]
no_happy

,Country,Workforce Ratio Five Year Average,Happy,Economy,Family,Health,Freedom,Trust,Generous
3,Angola,96.300743,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arab World,31.202839,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,"Bahamas, The",83.503662,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Barbados,89.031182,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Belize,61.474317,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
224,Vanuatu,77.283397,NaN,NaN,NaN,NaN,NaN,NaN,NaN
227,Virgin Islands (U.S.),92.434781,NaN,NaN,NaN,NaN,NaN,NaN,NaN
228,West Bank and Gaza,25.146510,NaN,NaN,NaN,NaN,NaN,NaN,NaN
229,World,66.629291,NaN,NaN,NaN,NaN,NaN,NaN,NaN
233,World Average,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# Search dataframe of null values in happiness data for keywords in workforce ratio data - 
# use findings to rename country in cell 3
no_happy[no_happy['Country'].str.contains("Arab")]

,Country,Workforce Ratio Five Year Average,Happy,Economy,Family,Health,Freedom,Trust,Generous
4,Arab World,31.202839,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# Do an inner merge to remove coountries that don't match after cleaning
correl_table_complete = pd.merge(workforce_ratio, correl_table, how="inner", on=["Country"])
correl_table_complete = correl_table_complete[['Country', 'Workforce Ratio Five Year Average', 'Happy', 'Economy', 'Family', 'Health', 'Freedom', 'Trust', 'Generous']]

In [20]:
correl_table_complete

,Country,Workforce Ratio Five Year Average,Happy,Economy,Family,Health,Freedom,Trust,Generous
0,Afghanistan,27.311836,2.5669,7.462861,0.470367,52.590000,0.396573,0.933687,-0.096429
1,Albania,72.239452,4.8827,9.417931,0.671070,68.708138,0.781994,0.896304,-0.042309
2,Algeria,21.980925,5.0051,9.537965,0.803385,65.905174,0.466611,0.735485,-0.121105
3,Argentina,67.997396,5.9747,9.810955,0.900568,68.803802,0.831132,0.842010,-0.194914
4,Armenia,71.844352,4.6768,9.100476,0.757479,66.750656,0.712018,0.773545,-0.138780
...,...,...,...,...,...,...,...,...,...
138,Venezuela,61.961743,5.0532,8.977794,0.890408,66.505341,0.623278,0.837038,-0.169091
139,Vietnam,88.183501,5.3535,8.809546,0.849987,67.952736,0.939593,0.796421,-0.094533
140,Yemen,8.588724,3.5274,7.759683,0.817981,56.727283,0.599920,0.800288,-0.157735
141,Zambia,88.284661,3.7594,8.224720,0.698824,55.299377,0.806500,0.801290,0.078037
142,Zimbabwe,87.475831,3.2992,7.865712,0.763093,55.617260,0.711458,0.810237,-0.072064

In [11]:
# Find and replace country names so they match country names in happiness dataframe
gini_index = gini_index[['Country', 'Gini Index Five Year Average']]
gini_index.replace("Cote d'Ivoir", 'Ivory Coast', inplace=True)
gini_index.replace("Egypt, Arab Rep.", 'Egypt', inplace=True)
gini_index.replace('Gambia, The', 'Gambia', inplace=True)
gini_index.replace('Iran, Islamic Rep.', 'Iran', inplace=True)
gini_index.replace('Russian Federation', 'Russia', inplace=True)

In [12]:
# Merge gini index and happiness dataframes on country, use outer merge to keep mismatched countries
all_var_df = pd.merge(gini_index, correl_table_complete, how="outer", on=["Country"])

In [13]:
# Drop Rows that are null in all columns
all_var_df.drop([109, 110, 111, 112, 113], inplace=True)

In [14]:
all_var_df

,Country,Gini Index Five Year Average,Workforce Ratio Five Year Average,Happy,Economy,Family,Health,Freedom,Trust,Generous
0,Albania,33.266667,72.239452,4.8827,9.417931,0.671070,68.708138,0.781994,0.896304,-0.042309
1,Angola,51.300000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Argentina,41.533333,67.997396,5.9747,9.810955,0.900568,68.803802,0.831132,0.842010,-0.194914
3,Armenia,33.225000,71.844352,4.6768,9.100476,0.757479,66.750656,0.712018,0.773545,-0.138780
4,Austria,30.333333,82.749968,7.2942,10.742824,0.928046,73.002502,0.899989,0.499955,0.085429
...,...,...,...,...,...,...,...,...,...,...
156,Turkmenistan,NaN,65.860098,5.1191,9.748033,0.958966,62.211708,0.826457,0.883692,0.187672
157,United Arab Emirates,NaN,55.312159,6.7908,11.109999,0.849181,67.082787,0.941346,0.594502,0.123451
158,Uzbekistan,NaN,67.293723,6.2576,8.740372,0.926596,65.107574,0.974998,0.501497,0.248427
159,Venezuela,NaN,61.961743,5.0532,8.977794,0.890408,66.505341,0.623278,0.837038,-0.169091
160,Yemen,NaN,8.588724,3.5274,7.759683,0.817981,56.727283,0.599920,0.800288,-0.157735

In [15]:
# Find rows with null values for Gini Index
no_gini = all_var_df[all_var_df['Gini Index Five Year Average'].isnull()]
no_gini

,Country,Gini Index Five Year Average,Workforce Ratio Five Year Average,Happy,Economy,Family,Health,Freedom,Trust,Generous
114,Afghanistan,NaN,27.311836,2.5669,7.462861,0.470367,52.590000,0.396573,0.933687,-0.096429
115,Algeria,NaN,21.980925,5.0051,9.537965,0.803385,65.905174,0.466611,0.735485,-0.121105
116,Australia,NaN,84.301043,7.2228,10.720596,0.944855,73.604538,0.915432,0.415169,0.190460
117,Azerbaijan,NaN,90.669648,5.1648,9.687727,0.819308,65.508400,0.786824,0.552538,-0.240255
118,Bahrain,NaN,50.943657,6.2273,10.676380,0.876342,68.500000,0.905856,0.739347,0.133729
119,Bosnia and Herzegovina,NaN,61.414599,5.6741,9.455817,0.829204,67.808136,0.651353,0.933769,0.098275
120,Burkina Faso,NaN,77.687665,4.7687,7.468545,0.712944,53.889454,0.665564,0.739795,-0.019081
121,Burundi,NaN,103.525898,3.7753,6.492642,0.490326,53.400002,0.626350,0.606935,-0.017552
122,Cambodia,NaN,85.949744,4.8484,8.249890,0.773081,61.529968,0.959705,0.822769,0.051911
123,Cameroon,NaN,87.503677,5.0849,8.118648,0.700386,52.704941,0.763052,0.851337,-0.001496
124,Central African Republic,NaN,80.350084,3.4759,6.625160,0.319460,45.200001,0.640881,0.891807,0.082410
125,Chad,NaN,82.076973,4.4227,7.467964,0.632388,48.220539,0.587305,0.802761,0.017835
126,Comoros,NaN,72.463191,4.2886,7.833630,0.625662,57.349010,0.547613,0.780623,0.090008
127,"Congo, Dem. Rep.",NaN,91.576051,4.3110,6.694256,0.672159,52.900002,0.700794,0.809404,0.083638
128,"Congo, Rep.",NaN,94.298537,5.1944,8.536987,0.640228,57.924480,0.719059,0.751779,-0.123674
129,Guatemala,NaN,46.391208,6.3989,8.924806,0.816621,64.808945,0.908148,0.783237,-0.042939
130,Guinea,NaN,102.947526,4.9493,7.750990,0.637573,54.467800,0.706847,0.761794,0.076328
131,Haiti,NaN,84.942793,3.7208,7.411329,0.593248,55.598625,0.537825,0.684767,0.400535
132,India,NaN,27.410287,3.5733,8.849824,0.592201,60.215187,0.881445,0.772043,0.057552
133,Iraq,NaN,17.051176,4.7848,9.661096,0.747695,59.903549,0.633183,0.822262,-0.069565
134,Jamaica,NaN,81.958837,5.8898,9.006250,0.915702,67.099998,0.858069,0.888890,-0.125107
135,Japan,NaN,72.394278,5.8708,10.579689,0.883546,75.000969,0.809961,0.654558,-0.246910
136,Jordan,NaN,22.218880,4.6334,9.025999,0.802164,66.799751,0.751048,0.700344,-0.162565
137,South Korea,NaN,71.712425,5.8724,10.510567,0.799387,73.602730,0.612965,0.789067,-0.043404
138,Kuwait,NaN,57.106339,6.1021,11.089825,0.846475,66.767647,0.872366,0.760849,-0.100185
139,Lebanon,NaN,31.824745,4.7715,9.361724,0.824338,67.106583,0.551358,0.902256,-0.061215
140,Libya,NaN,52.233932,5.4888,9.789816,0.825943,62.299999,0.773157,0.668779,-0.085054
141,Madagascar,NaN,93.517678,4.1656,7.281686,0.668196,59.105427,0.557574,0.817486,-0.011824
142,Mali,NaN,75.751767,4.7293,7.629852,0.731469,51.726982,0.711566,0.839328,-0.044367
143,Mauritania,NaN,45.382916,4.3746,8.233919,0.790819,57.010178,0.551523,0.746224,-0.106008
144,Morocco,NaN,30.930339,5.0948,8.940313,0.592628,65.896240,0.772072,0.815725,-0.240377
145,Mozambique,NaN,97.664453,4.6236,7.069346,0.723874,54.205822,0.864452,0.683019,0.032376
146,Nepal,NaN,96.695504,5.1372,7.925357,0.785512,63.779179,0.797565,0.738099,0.154169
147,New Zealand,NaN,85.446789,7.2996,10.500943,0.949119,73.202629,0.936217,0.221139,0.191598
148,Nicaragua,NaN,59.079909,6.1371,8.493160,0.857497,67.507179,0.863903,0.665950,0.020959
149,Niger,NaN,72.452275,4.9096,6.842167,0.617435,53.500095,0.759772,0.722530,0.013861
150,Saudi Arabia,NaN,28.458862,6.4065,10.797812,0.874067,66.305145,0.854191,0.682620,-0.168695
151,Senegal,NaN,60.396038,4.9808,8.118982,0.723616,59.599152,0.690596,0.808785,-0.052335
152,Singapore,NaN,79.029368,6.3771,11.395521,0.910269,76.804581,0.926645,0.109784,0.029879
153,South Africa,NaN,78.347674,4.8141,9.403371,0.852532,56.506012,0.759330,0.843424,-0.109777
154,South Sudan,NaN,95.488983,2.8166,7.425360,0.553707,51.000000,0.451314,0.763417,0.016519
155,Trinidad and Tobago,NaN,70.811289,6.1919,10.260002,0.915294,63.500000,0.857907,0.912231,0.000527
156,Turkmenistan,NaN,65.860098,5.1191,9.748033,0.958966,62.211708,0.826457,0.883692,0.187672
157,United Arab Emirates,NaN,55.312159,6.7908,11.109999,0.849181,67.082787,0.941346,0.594502,0.123451
158,Uzbekistan,NaN,67.293723,6.2576,8.740372,0.926596,65.107574,0.974998,0.501497,0.248427
159,Venezuela,NaN,61.961743,5.0532,8.977794,0.890408,66.505341,0.623278,0.837038,-0.169091
160,Yemen,NaN,8.588724,3.5274,7.759683,0.817981,56.727283,0.599920,0.800288,-0.157735

In [16]:
# Find rows with null values for workforce ratio and happiness
no_happy_2 = all_var_df[all_var_df['Happy'].isnull()]
no_happy_2

,Country,Gini Index Five Year Average,Workforce Ratio Five Year Average,Happy,Economy,Family,Health,Freedom,Trust,Generous
1,Angola,51.300000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Bhutan,37.400000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Cabo Verde,42.400000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Cote d'Ivoire,41.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Djibouti,41.600000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,Kosovo,27.400000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,Kyrgyz Republic,27.700000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,North Macedonia,34.766667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,Sao Tome and Principe,56.300000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,Slovak Republic,25.850000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,St. Lucia,51.200000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,Tonga,37.600000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,West Bank and Gaza,33.700000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
# Search happiness data for keywords of country names from Gini Index data to replace Gini Index names in cell 11
correl_table[correl_table['Country'].str.contains("Cabo")]

Empty DataFrame
Columns: [Country, Happy, Economy, Family, Health, Freedom, Generous, Trust]
Index: []

In [18]:
# Do an inner merge of previously merged happiness and workforce ratio data with Gini Index to create a dataframe
# of five year averages for all variables with no null values
all_var_avg = pd.merge(gini_index, correl_table_complete, how="inner", on=["Country"])
all_var_avg

,Country,Gini Index Five Year Average,Workforce Ratio Five Year Average,Happy,Economy,Family,Health,Freedom,Trust,Generous
0,Albania,33.266667,72.239452,4.8827,9.417931,0.671070,68.708138,0.781994,0.896304,-0.042309
1,Argentina,41.533333,67.997396,5.9747,9.810955,0.900568,68.803802,0.831132,0.842010,-0.194914
2,Armenia,33.225000,71.844352,4.6768,9.100476,0.757479,66.750656,0.712018,0.773545,-0.138780
3,Austria,30.333333,82.749968,7.2942,10.742824,0.928046,73.002502,0.899989,0.499955,0.085429
4,Bangladesh,32.400000,42.876669,4.8328,8.287064,0.687293,64.503067,0.900625,0.661844,-0.033665
...,...,...,...,...,...,...,...,...,...,...
91,United States,41.100000,82.045499,6.9396,10.925769,0.914219,68.299500,0.842620,0.699715,0.149892
92,Uruguay,39.750000,75.257850,6.4401,9.948193,0.922811,69.002548,0.892395,0.635994,-0.101103
93,Vietnam,35.500000,88.183501,5.3535,8.809546,0.849987,67.952736,0.939593,0.796421,-0.094533
94,Zambia,57.100000,88.284661,3.7594,8.224720,0.698824,55.299377,0.806500,0.801290,0.078037
95,Zimbabwe,44.300000,87.475831,3.2992,7.865712,0.763093,55.617260,0.711458,0.810237,-0.072064

In [19]:
# Save dataframe as csv for future analysis and visualizations
all_var_avg.to_csv(r'Resources/all_variables_avg.csv')